body {
    background-color: rgb(0, 0, 0);
}

.center {
    text-align: center;
}

div.center {
    color: rgb(0, 255, 13);
}

.parent {
    color: darkblue;
    text-align: center;
}

.parent>ul {
    display: inline-block;
}

div.parent {
    color: rgb(0, 255, 13);
}

li.bullet {
    color: darkturquoise ;
}