body {
    background-color: greenyellow ;
}

.center {
    text-align: center ;
}

div.center {
    color: crimson ;
}

ul {
    color: darkblue ;
    text-align: center ;
}

li {
    color: darkblue ;
    text-align: center ;
}