body {
    background-color: greenyellow;
}

.center {
    text-align: center;
}

div.center {
    color: crimson;
}

.parent {
    color: darkblue;
    text-align: center;
}

.parent>ul {
    display: inline-block;
}

div.parent {
    color: darkblue;
}

li.bullet {
    color: darkturquoise ;
}